@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
#root {
  font-family: 'Prompt', sans-serif;
}

.itemImageTable{
  max-height: 200px;
  transition: transform .2s; /* Animation */
}

.itemImageTable:hover{
    transform: scale(1.5);
    z-index: 9999;
}

.shopImageCard{
  transition: transform .6s; /* Animation */
  -webkit-animation-fill-mode: initial; 
  animation-fill-mode: initial;
  transition-timing-function:cubic-bezier(.17,.67,.83,.67);
}

.shopImageCard:hover{
  transform: scale(1.3);
  z-index: 9999;
  position: relative;
}

.fixNewline{
    white-space: pre-wrap; /* or pre-line */
}

.textDesOverflow{
  overflow: hidden;
  text-overflow: ellipsis; 
}

